.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}

.dailyStreakContainer, .ecocoinsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-pure);
    border: none;
    border-radius: 15px;
    width:100%;
    padding: 1rem;
    gap:1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    p{
        font-size: 1.2rem;
        font-weight: bold;
    }
}


.ecoCoins, .streak {
    font-size: 1.5rem;
    color: var(--green-shade-one);
    font-weight: bold;
}

.subtext {
    font-size: 0.9rem;
    color: var(--text-color-secondary);
    font-weight: 500;
}