.backgroundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-shade-one);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;

  padding:1rem;

  * {
    margin: 0;
    padding: 0;
  }

}

.leftContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-shade-one);
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    
    p {
        font-size: 1.2rem;
        font-weight: 900;
    }

    span{
        font-size: 0.8rem;
    }

}

.rightContainer {
    display: flex;  
    align-items: center;
    gap:0.5rem
}

.welcomeContainer {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap:0.2rem;
    p{
        font-size: 1rem;
        font-weight: 600;
    }
    span {
        font-size: 0.7rem;
        color:var(--text-color-secondary);
        font-weight: 500;
    }
}

.avatarImage {
    width:30px;
    height: 30px;
    border:none;
    border-radius: 50%;
}